@import './reset.css';

body {
  font-size: 14px;
  font-family: sans-serif;
}

.container {
  max-width: 1024px;
  margin: auto;
}

header {
  border-bottom: 1px solid #ccc;
}

header nav {
  padding: 10px 0;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

header nav ul li a {
  font-size: 22px;
  text-decoration: none;
  color: #000;
}

header nav ul li a:hover {
  text-decoration: underline;
}

article img {
  padding-bottom: 20px;
  width: 100%;
}

article p {
  line-height: 22px;
  padding-bottom: 20px;
}

form {
  display: flex;
  max-width: 350px;
  margin:auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form label {
  margin: 20px 0;
  max-width: 350px;
}

form input,
form textarea {
  margin-top: 10px;
  width: 330px;
  padding: 10px;
  border: 1px solid #ccc;
}

form textarea {
  height: 100px;
}

form input[type="submit"] {
  width: 100px;
}

p.response {
  width: 330px;
  padding: 10px;
  margin: 20px auto 0 auto;
  white-space: pre;
}

p.alert {
  border: 2px solid #a70000;
}

p.success {
  border: 2px solid #00a73b;
}
